Files/__pycache__/Board_state.cpython-311.pyc
Files/__pycache__/Move_Generator.cpython-311.pyc
Files/__pycache__/Search.cpython-311.pyc
Files/Tests/__pycache__/Evaluation.cpython-311.pyc
Files/__pycache__/Evaluation.cpython-311.pyc
Files/__pycache__/Opening_book.cpython-311.pyc
Files/debugging_roadmap
Files/__pycache__/Board_state.cpython-39.pyc
Files/__pycache__/Board_state.pypy310.pyc
Files/__pycache__/Evaluation.cpython-39.pyc
Files/__pycache__/Evaluation.pypy310.pyc
Files/__pycache__/Move_Generator.cpython-39.pyc
Files/__pycache__/Opening_book.cpython-39.pyc
Files/__pycache__/Move_Generator.pypy310.pyc
Files/__pycache__/Search.cpython-39.pyc
Files/__pycache__/Opening_book.pypy310.pyc
Files/__pycache__/Search.pypy310.pyc
Files/Opening_Data_Base/game_moves.txt
Tests_Notes/BUGS_TO_FIX
Tests_Notes/Compare_perft_results.py
Tests_Notes/my_perft_results
Tests_Notes/stockfish_results
Tests_Notes/test_data_txt
Engine_Testing
/Users/federicosaitta/Chess_Engine/Engine_Testing
lichess-bot
Files/__init__.py
Tests/__init__.py
Engine_Testing/evaluation_test.py